/* Nahom Kebede - March 9, 2025 */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('./images/rsz_3leonard-cotte-r5scocnoodm-unsplash.jpg') no-repeat center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: black;
}

main {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

header {
    text-align: center;
    color: white;
    padding: 20px;
    background: url('images/logo.png') no-repeat right;
    position: relative;
}

header h1 {
    margin: 0;
    padding: 10px 0;
}

nav {
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 5px 0;
    width: 50%;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: #29485d;
    padding: 10px;
}

nav a:hover {
    color: #ff5733;
}

h1, h2, h3 {
    font-family: Georgia, "Times New Roman", serif;
}

h2 {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

h3 {
    color: #29485d;
    margin-bottom: 10px;
}

ul {
    list-style-image: url('images/marker.gif');
}

li {
    line-height: 1.5;
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 20px;
    background-color: white;
    width: 20%;
    margin: 0 auto;
}

.web {
    font-weight: bold;
    color: red;
}

#contact {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color: #c7b2ae;
}

.attraction-image {
    max-width: 600px;
    width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 20px 20px 10px grey;
}


